<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="src/main/dev-server.cjs" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="src/main/dev-server.cjs"/>
        </rule>
      </rules>
    </rewrite>
    <iisnode
      node_env="production"
      nodeProcessCommandLine="node"
      interceptor="iisnode-inspector.js"
      debuggingEnabled="false"
      loggingEnabled="true"
      logDirectoryNameSuffix="logs"
      debuggerPortRange="5058-6058"
      maxProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"
      maxNamedPipeConnectionRetry="3"
      namedPipeConnectionRetryDelay="2000"
      asyncCompletionThreadCount="0"
      initialRequestBufferSize="4096"
      maxRequestBufferSize="65536"
      watchedFiles="*.js;*.json;*.env"
      uncFileChangesPollingInterval="5000"
      gracefulShutdownTimeout="60000"
      enableXFF="true"
      promoteServerVars="REMOTE_ADDR"
    />
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>